<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="content">
    <div fxLayout="row"
         *ngFor="let drink of drinkConsumptions">
      <div>
        {{drink.initial}}
      </div>
      <app-monthly-consumption class="monthly-consumption"

                               [monthlyConsumption]="drink">
      </app-monthly-consumption>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
